/*
--------------------------------------------------------------------------------
HTML elements look n feel
--------------------------------------------------------------------------------
*/
html {
  /* base font-size is at reset.scss */
  // @include phablet { @include retina(1.3) { font-size: 80%; } }
  // @include tablet  { @include retina(1.5) { font-size: 90%; } }
  // @include desktop { @include retina(2)   { font-size: 100%; } }
}

body {
  font-family: $font-family-base;
  background-color: $white;
  color: $dark;
  font-size: $font-size-baseline;
  letter-spacing: .01em;
  line-height: 140%;
  overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6, button, a {
  font-family: $font-family-headliner;
}

h1 {
  font-weight: $font-weight-semi;
  line-height: 110%;
  color: $dark-green;
  margin-bottom: 1.5rem;

  @include responsive_font($min: 2.5, $max: 3);
}

h2 {
  font-weight: $font-weight-semi;
  line-height: 120%;
  color: $dark-green;
  margin-bottom: 1rem;

  @include responsive_font($min: 1.875, $max: 2.25);
}

h3 {
  font-weight: $font-weight-medium;
  line-height: 120%;
  margin-bottom: .5rem;

  @include responsive_font($min: 1.625, $max: 2);
}

h4 {
  font-weight: $font-weight-semi;
  line-height: 120%;
  margin-bottom: .5rem;

  @include responsive_font($min: 1.25, $max: 1.5);
}

h5 {
  font-size: $h5-font-size;
  font-weight: $font-weight-bold;
  line-height: 130%;
  margin-bottom: .5rem;
}

h6 {
  font-size: $h6-font-size;
  font-weight: $font-weight-bold;
  line-height: 120%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: .5rem;
}

p {
  font-size: $font-size-baseline;
  line-height: 150%;
  margin-bottom: .5rem;
}

span {
  display: inline-block;
}

a, button, .btn {
  @include transition(all, .5);
  cursor: pointer;
  font-weight: $font-weight-bold;
  letter-spacing: 0.16em;
  text-transform: uppercase;

  @include responsive_font($min: .625, $max: .75);
}

a {
  text-decoration: none;
}

label, .label {
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  line-height: 110%;

  @include tablet {
    font-size: $font-size-xs;
  }
}

b {
  font-weight: $font-weight-semi;
}

strong {
  font-weight: $font-weight-bold;
}

small, .small {
  font-size: $font-size-sm;

  @include tablet {
    font-size: $font-size-sm
  }
}

.smaller {
  font-size: $font-size-xs;
}