.btn {
	@include transition(all, 0.4);
	border-radius: $b-radius-3;
	height: 3rem;
	padding: 1rem 2rem;
	position: relative;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
	text-transform: uppercase;
	text-decoration: none;

	.icon {
		@include transition(all, 0.4);
		display: inline-block;
		white-space: nowrap;
		margin-left: 1rem;
		overflow: hidden;
	}

	&-primary {
		background-color: $primary;
		color: $white;

		&:hover {
			background-color: darken($primary, 5%);
		}
	}

	&-secondary {
		background-color: $white;
		color: $primary;
		border: 2px solid $primary;

		&:hover {
			border-color: darken($primary, 5%);
		}
	}
	&-danger {
		background-color: $red;
		color: $white;

		&:hover {
			background-color: darken($red, 5%);
		}
	}

	&-small {
		height: 2.25rem;
		padding: 0.625rem 1rem;
		border-radius: $b-radius-2;
	}

	&-large {
		background-color: $secondary;
		border-radius: $b-radius-4;
		color: $white;
		justify-content: center;
		height: 4rem;
		min-width: 18rem;
		padding: 1.5rem 2.5rem;
	}

	&-icon {
		padding-left: 15%;
		padding-right: 10%;

		img {
			max-width: 100%;
			max-height: 100%;

			&.icon {
				position: absolute;
				top: 50%;
				left: 10%;
				transform: translate(0, -50%);

				@include desktop {
					left: 10%;
				}

				@include hd {
					left: 15%;
				}

				@include resolution(1600px) {
					left: 20%;
				}
			}
		}
	}

	&.full-centered {
		justify-content: center;
		width: 100%;
	}

	/* &:hover {
		.arrow-right {
			svg {
				width: 100px;
			}
		}
	}*/

	&.full-width {
		width: 100%;
	}

	&.delete {
		min-width: auto;
		height: auto;
		padding: .5rem 0;
		color: $dark;
		border-bottom: 2px solid $dark;
	}
}

.disabled {
	cursor: default;
	opacity: 0.4;
	pointer-events: none !important;
}

.under-btn {
	text-transform: uppercase;
	padding-bottom: 0.5rem;
}


.back-link-container {
	@include transition;
	padding: 2.5rem 1.5rem;
	background-color: $white;
	height: $navbar-height-sm;
	position: fixed;
	top: 0;
	left: $navbar-height-sm*3;
	z-index: 9;

	@include tablet{
		left: $navbar-height*3;
		height: $navbar-height;
		padding: 3.5rem 2.5rem;
	}

	.back-link {
		color: $dark;
		text-transform: uppercase;

		&-arrow {
			margin-right: 1rem;
		}
	}
}


.icon {
	&-sm {
		width: 14px;
		height: 14px;
	}

	&-md {
		width: 18px;
		height: 18px;
	}

	&-lg {
		width: 24px;
		height: 24px;
	}

	&-white svg path {
		fill: $white;
	}

	&-primary svg path {
		fill: $primary;
	}
	&-secondary svg path {
		fill: $secondary;
	}
}

svg, img {
	height: 100%;
}


.arrow-link {
	margin: .5rem 0;

	&-primary {
		color: $primary;

		svg path {
			fill: $primary;
		}
	}

	&-secondary {
		color: $secondary;

		svg path {
			fill: $secondary;
		}
	}

	.icon {
		vertical-align: bottom;
	}
}


.inline-link {
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	text-transform: none;
	letter-spacing: inherit;
}