.btn {
	@include transition;
	border-radius: $b-radius-3;
	height: 3rem;
	padding: 1rem 2rem;
	position: relative;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
	text-transform: uppercase;
	text-decoration: none;

	.icon {
		@include transition;
		display: inline-block;
		white-space: nowrap;
		margin-left: 1rem;
		overflow: hidden;
	}

	&-primary {
		background-color: $primary;
		color: $white;

		&:hover {
			background-color: darken($primary, 5%);
		}
	}

	&-secondary {
		background-color: $light-secondary;
		color: $primary;

		&:hover {
			background-color: darken($light-secondary, 5%);
		}
	}

	&-light {
		background-color: rgba($white, .1);
		color: $white;

		&:hover {
			background-color: rgba($white, .2);
		}
	}

	&-danger {
		background-color: $red;
		color: $white;

		&:hover {
			background-color: darken($red, 5%);
		}
	}

	&-outlined {
		border: 1px solid $gray-5;
	}

	&-small {
		height: 2.25rem;
		padding: 0.625rem 1rem;
		border-radius: $b-radius-2;
	}

	&-large {
		background-color: $secondary;
		border-radius: $b-radius-4;
		color: $white;
		justify-content: center;
		height: 4rem;
		min-width: 18rem;
		padding: 1.5rem 2.5rem;
	}

	&-icon {
		position: relative;
		display: inline-flex;
		align-items: center;
		vertical-align: middle;
		background-color: $white;

		&.btn-icon-small {
			border-radius: $b-radius-1;
			padding: .5rem;
			height: 30px;
			width: 30px;
		}

		&.btn-icon-large {
			border-radius: $b-radius-4;
			padding: 14px;
			height: 54px;
			width: 54px;
		}
		
		&.btn-shadowed {
			box-shadow: 0px 4px 20px rgba(32, 136, 160, 0.1);
		}


		.icon {
			@include transition;
		}
	}

	&.full-centered {
		justify-content: center;
		width: 100%;
	}

	&.full-width {
		width: 100%;
	}

	&.delete {
		min-width: auto;
		height: auto;
		padding: .5rem 0;
		color: $dark;
		border-bottom: 2px solid $dark;
	}
}

.disabled {
	cursor: default;
	opacity: 0.4;
	pointer-events: none !important;
}



.back-link {
	color: $primary;
	text-transform: uppercase;

	&-arrow {
		margin-right: .5rem;
		transform: rotate(-180deg);
	}
}


.icon {
	&-sm {
		width: 14px;
		height: 14px;
	}

	&-md {
		width: 18px;
		height: 18px;
	}

	&-lg {
		width: 26px;
		height: 26px;
	}

	&-white svg path {
		fill: $white;
	}

	&-primary svg path {
		fill: $primary;
	}

	&-secondary svg path {
		fill: $secondary;
	}
}

svg, img {
	height: 100%;
}


.arrow-link {
	margin: .5rem 0;

	&-primary {
		color: $primary;

		svg path {
			fill: $primary;
		}
	}

	&-secondary {
		color: $secondary;

		svg path {
			fill: $secondary;
		}
	}

	.icon {
		vertical-align: bottom;
	}
}


.inline-link {
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	text-transform: none;
	letter-spacing: inherit;
}