.checkbox-container {
    .checkmark {
        border-radius: 4px;

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 5px;
            top: 2px;
            width: 3px;
            height: 6px;
            border: 1px solid $white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }

    &:hover input ~ .checkmark {
        border-color: $primary;
    }

    input:checked ~ .checkmark {
        border-color: $primary;
        background-color: $primary;
    }

    input:checked ~ .checkbox-label {
        color: $primary;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }
}
