.radio-container {
    .checkmark {
        border-radius: 6px;
        
        &:after {
            @include transition;
            content: "";
            position: absolute;
            display: none;
            top: 2px;
            left: 2px;
            width: 10px;
            height: 10px;
            border-radius: 4px;
            background: $primary;
        }
    }

    &:hover input ~ .checkmark {
        border-color: $primary;
    }

    input:checked ~ .checkmark {
        border-color: $primary;
        background-color: $white;
    }

    input:checked ~ .radio-label {
        color: $primary;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }
}




.custom-radio-container {
    cursor: pointer;
    display: block;
    position: relative;
    padding-left: 2rem;
    user-select: none;
    border: 1px solid $light-secondary;
    border-radius: $b-radius-3;
    padding: 1rem 1rem 1rem 2.5rem;

    input {
        cursor: pointer;
        position: absolute;
        opacity: 0;
    }

    .radio-label {
        font-weight: $font-weight-semi;
        font-family: $font-family-headliner;
        color: $light-primary;
    }

    .checkmark {
        @include transition;
        position: absolute;
        top: 1rem;
        left: 1rem;
        height: 1rem;
        width: 1rem;
        background-color: $light-secondary;
        border-radius: $b-radius-1;

        &:after {
            content: url(../../assets/images/check-icon.svg);
            position: absolute;
            display: none;
            left: 3px;
            top: 2px;
        }
    }

    input:checked ~ .checkmark {
        background-color: $light-primary;
    }

    input:checked ~ .radio-label {
        color: $primary;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }

    input:checked ~ .radio-label:before {
        content: '';
        background-color: $light-secondary;
        border-radius: $b-radius-3;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
