.radio-container {
    .checkmark {
        border-radius: 6px;
        
        &:after {
            @include transition;
            content: "";
            position: absolute;
            display: none;
            top: 2px;
            left: 2px;
            width: 10px;
            height: 10px;
            border-radius: 4px;
            background: $primary;
        }
    }

    &:hover input ~ .checkmark {
        border-color: $primary;
    }

    input:checked ~ .checkmark {
        border-color: $primary;
        background-color: $white;
    }

    input:checked ~ .radio-label {
        color: $primary;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }
}