.toggle {
    width: 13rem;
    min-height: 3rem;
    border: 1px solid $light-secondary;
    font-family: $font-family-headliner;
    box-sizing: border-box;
    @extend .btn;

    @include desktop {
        width: 14rem;
    }

    .toggle-text-on, .toggle-text-pre {
        @include transition;
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem;
    }

    .toggle-text-on {
        text-align: left;
        color: $primary;
    }

    .toggle-text-pre {
        text-align: right;
        color: $light-primary;
    }

    .toggle-button {
        @include transition;
        cursor: pointer;
        position: absolute;
        top: 3px;
        width: 86px;
        bottom: 3px;
        left: 3px;
        background-color: $light-secondary;
        border-radius: $b-radius-3;

        @include desktop {
            width: 92px;
        }
    }

    &.toggle-on {
        .toggle-text-pre {
            color: $primary;
        }

        .toggle-text-on {
            color: $light-primary;
        }

        .toggle-button {
            width: 7rem;
            right: 3px;
            left: 92px;

            @include desktop {
                width: 8rem;
            }
        }
    }
}