/*
--------------------------------------------------------------------------------
Course Tabs
--------------------------------------------------------------------------------
*/
.tabs {
    overflow: hidden;
    position: relative;
    text-align: left;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 4rem 0 1rem 0;

    .tabs-container {
        padding-right: $margin-sm;
        padding-left: $margin-sm;
        max-width: $container-max-width;

        @include tablet {
            padding-right: $margin-md;
            padding-left: $margin-md;
        }

        @include resolution (1400px) { 
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    &:after {
        content: '';
        height: 1px;
        background-color: $light-secondary;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    .tablinks {
        @include transition;
        cursor: pointer;
        color: $primary;
        display: inline-block;
        opacity: .5;
        margin-bottom: -1px;
        z-index: 1;

        &:hover {
            opacity: .7;
        }

        &.active {
            opacity: 1;

            .tablink {
                border: 1px solid $light-secondary;
                border-bottom: 1px solid $white;
            }
        }

        .tablink {
            padding: 1rem;
            border-top-left-radius: $b-radius-3;
            border-top-right-radius: $b-radius-3;
            background-color: $white;
            margin: 0;
            display: block;
        }
    }
}

.tabcontent {
    display: none;
    animation: fadeEffect 1s; 
    padding-top: 2rem;

    .tabcontent-header {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
        }

        .actions-wrapper {
            display: flex;
            flex-wrap: wrap;

            .btn {
                margin-bottom: 1rem;

                &:not(:last-child) {
                    margin-right: .75rem;
                }
            }
        }
    }

    .tabcontent-body {
        margin-top: 2rem;
    }

    .title-startdate {
        color: $dark-green;
    }
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


/*
--------------------------------------------------------------------------------
Formation Cities Tabs - General
--------------------------------------------------------------------------------
*/

.cl-toggle {
    .cl-tabs {
        cursor: pointer;

        @include tablet-down {
            display: flex;
            overflow-y: auto;

            .cl-tab {
                margin-right: 1rem;
            }
        }
    }

    .cl-tab {
        margin-bottom: 1.5rem;

        &.active {
            @include transition;
            color: $primary;
            font-weight: 600;
        }
    }

    .cl-panels {
        .cl-panel {
            display: none;

            &:first-child {
                display: block;
            }
        }
    }
}