.tab-indicator {
    display: flex;
    margin-bottom: 5rem;

    .tab-page {
        cursor: default;
        color: $light-primary;
        margin-right: 1.5rem;

        &.active {
            color: $primary;
        }
    }
}

.checkout-wrapper {
    margin-top: calc(4rem + #{$navbar-height});
    margin-bottom: 8rem;

    .checkout-headline {
        margin-bottom: 1.5rem;
        color: $gray-1;
    }
}


/*
--------------------------------------------------------------------------------
Confirmation Step
--------------------------------------------------------------------------------
*/

.order-details-wrapper {
    margin-bottom: 3rem;

    .order-details-surtitle {
        color: $gray-3;
    }

    .order-details-personal-wrapper, .order-details-payment-wrapper {
        p {
            margin-bottom: 0;
        }
    }

    .order-details-payment-method {
        margin-bottom: 1rem;
    }

    .reference-method-wrapper {
        .labels-col {
            min-width: 8rem;
        }

        .values-col {
            p {
                font-weight: $font-weight-medium;
            }
        }
    }

    .protocol-method-wrapper {
        .file-name {
            overflow-wrap: break-word;
            color: $gray-2;
        }
    }
}


/*
--------------------------------------------------------------------------------
Successful Checkout
--------------------------------------------------------------------------------
*/

.checkout-success-wrapper {
    background: linear-gradient(180deg, rgba(#FFE7CA, .3) 63.04%, rgba(255, 231, 202, 0.05) 101.56%);
    border-radius: $b-radius-5;
    padding: 2rem 1rem;
    text-align: center;

    @include tablet {
        padding: 4rem;
    }

    .links-wrapper {
        margin-top: 4rem;
    }
}