
.course-wrapper {
    margin-top: 8rem;

    @include tablet-down {
        margin-top: 4rem;
    }

    .classes-main-content {
        @include tablet-down {
            margin-bottom: 2rem;
        }
    }
}

.recommended-section {
    .recommended-header {
        display: flex;
        align-items: center;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .actions-wrapper {
        min-width: 15.5rem;
    }
}