.home-wrapper {
    .ilu-bg {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: -1;

        &.landing-illustration-sm {
            bottom: -2rem;
            top: auto;
            height: 80%;

            @include tablet {
                height: 90%;
                bottom: 0rem;
            }
        }
    }

    .content-container {
        height: 100%;
        
        @include desktop-down {
            padding-top: 9rem;
        }

        @include tablet-down {
            padding-top: 7rem;
        }

        @include desktop {
            align-items: center;
        }
    }
}

.exp-wrapper {
    .sell-listing {
        .sell-list-item {
            padding: 0 3rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin-bottom: 5rem;

            .listing-title {
                @extend .mb-24;
            }

            .listing-description {
                @extend .color-gray-2;
            }
        }
    }
}

.scores-wrapper {
    min-height: 50vh;

    .text-block {
        &.text-block-sticky {
            @media (min-width: 767px) and (max-width: 1024px) {
                position: sticky;
                top: 10rem;
            }
        }
    }

    .side-scroll-wrapper {
        right: 0;

        @include tablet-down {
            position: relative;
        }

        @include tablet {
            position: absolute;
        }
    }

    .score-card {
        width: 14rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 2rem 2rem 2rem 0;
        z-index: 2;

        @include desktop {
            padding: 1rem 2rem 1rem 0;
            height: 10rem;
        }

        &.first-score {
            margin-left: 35%;
            margin-top: 6rem;
        }

        &.second-score {
            margin-top: 4rem;

            @include desktop-down {
                margin-top: 4rem;
            }

            @include desktop {
                margin-top: 4rem;
            }
        }

        &.third-score {
            margin-top: 8rem;

            @include desktop-down {
                margin-top: 2rem;
            }

            @include desktop {
                margin-top: 8rem;
            }
        }

        &.last-score {
            margin-left: 15%;
            
            @include desktop-down {
                margin-top: 10rem;
            }

            @include desktop {
                margin-top: 6rem;
            }
        }

        &.second-score, &.third-score, &.last-score {
            @include tablet-down {
                margin-top: 2rem;
                margin-left: 15%;
            }
        }

        &:after {
            content: '';
            background-color: $white;
            box-shadow: 0px 4px 50px rgba(32, 136, 160, 0.08);
            border-radius: $b-radius-3;
            width: 100%;
            height: 100%;
            z-index: -2;
            position: absolute;
            top: 0;
            left: 0;

            @include tablet {
                border-radius: $b-radius-4;
            }
        }

        &-bg {
            position: absolute;
            height: auto;
            z-index: -1;
        }

        &-badge {
            width: 6rem;
            height: 6rem;
            margin-left: -2rem;
        }

        &-badge-container {
            z-index: 1;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 1.5rem 1.25rem;
        }

        &-top {
            @include responsive_font($min: .875, $max: 1);
            color: $primary;
        }

        &-number {
            @include responsive_font($min: 1.5, $max: 1.875);
            color: $primary;
            font-weight: $font-weight-bold;
            font-size: 1.875rem;
        }

        &-headliner {
            color: $primary;
            margin-bottom: 0;
            font-weight: $font-weight-bold;
        }

        &-content {
            color: $secondary;
        }
    }
}


.badge-wrapper {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1.5rem;
    position: relative;

    .badge-background {
        height: 100%;
        width: 100%;
        border-radius: 100%;
        background-color: $orange;
    }

    img {
        width: 3.5rem;
        position: absolute;
        right: -1rem;
        top: 0;
    }
}


.santander-wrapper {
    margin-top: 12rem;

    .information-container {
        @include tablet-down {
            text-align: center;
        }
    }
}

.testimonials-wrapper {
    margin-top: 8rem;

    .section-title {
        @include tablet-down {
            text-align: center;
        }
    }
}

.faq-wrapper {
    margin-top: 8rem;
    margin-bottom: 8rem;

    img {
        @include tablet-down {
            height: auto;
        }

        &.faq-illustration {
            @include tablet {
                margin-left: -2rem;
            }
        }
    }
}


.ilu-bg {
    img {
        pointer-events: none;
    }

    @include tablet-down {
        margin-bottom: 2rem;
    }

    &.landing-illustration {
        display: none;

        @include desktop {
            display: block;
        }

        &-sm {
            pointer-events: none;
            display: block;

            @include desktop {
                display: none;
            }
        }
    }
}