.session-wrapper {
    margin-top: calc(6rem + #{$navbar-height});

    .content-container {
        height: 100%;
    }

    .session-illustration {
        margin-left: 4rem;

        @include desktop-down {
            display: none;
        }
    }
}

.information-wrapper {
    background: linear-gradient(180deg, rgba(193, 222, 226, .3) 63.04%, rgba(207, 239, 247, 0) 101.56%);
    padding: 5rem 0 6rem 0;
}