.cart-item {
    margin-bottom: .25rem;
    border-radius: $b-radius-3;
    border: 1px solid $gray-5;
    padding: 1rem 12px 1rem 1rem;

    &-info-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        color: $gray-1;
    }

    &-name {
        margin-bottom: .5rem;
    }

    &-city {
        font-weight: $font-weight-medium;
    }

    &-price {
        border-radius: $b-radius-2;
        background-color: $light-secondary;
        color: $primary;
        padding: .5rem;
        margin: 0;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &-info {
        text-align: left;
        color: $gray-3;

        small {
            display: block;
            margin-bottom: .25rem;
        }

        span {
            font-weight: $font-weight-bold;
        }
    }

    .form-action-button {
        margin-top: .5rem;
        padding-left: 1rem;
    }
}