.classes-main-content {
    .classes-wrapper {
        .class-wrapper {
            display: flex;
            border-radius: $b-radius-4;
            border: 1px solid $light-secondary;
            margin-bottom: .5rem;
            padding: .5rem;

            @include tablet {
                padding: .75rem;
            }
        
            .class-date-container {
                background-color: $light-secondary;
                border-radius: $b-radius-3;
                color: $primary;
                min-width: 3.5rem;
                height: 3.5rem;
                padding: .5rem;
                text-align: center;

                @include tablet {
                    min-width: 4.5rem;
                    height: 4.5rem;
                    padding: 14px 1.5rem;
                }

                .class-date-day {
                    margin-bottom: -.25rem;
                    font-weight: 700;
                }

                .class-date-month {
                    text-transform: uppercase;
                }
            }

            .class-description-container {
                margin-left: 1rem;
                margin-right: 1rem;

                .class-subject {
                    margin-bottom: .5rem;
                    display: block;
                }

                .class-time {
                    color: $primary;
                    font-weight: 500;
                    display: block;
                }
            }

            .class-number-container {
                display: none;

                @include tablet {
                    border-left: 1px solid $light-secondary;
                    display: block;
                    width: 6rem;
                    min-width: 5rem;
                    margin-left: auto;
                    padding-left: 1rem;
                }

                @include desktop {
                    min-width: 6rem;
                }

                .class-number {
                    text-transform: uppercase;
                    color: $primary;
                }
            }
        }
    }
}