.footer {
    background-color: $white;
    border-top: 1px solid $gray-5;

    &-link {
        margin-bottom: 1rem;
        display: block;
        font-weight: 600;
        letter-spacing: 0.05em;
        color: $gray-2;
        text-transform: none;
        font-weight: $font-size-xs;
    }

    .sitemap-wrapper {
        margin-bottom: 3rem;
        margin-top: 3rem;

        @include tablet {
            margin-bottom: 5rem;
            margin-top: 5rem;
        }
    }

    .media-links-wrapper {
        @include desktop-down {
            margin-bottom: 1.5rem;
        }
    }

    .rights-wrapper{
        padding: 1rem;
        border-top: 1px solid $gray-5;
    }
}