.general-info-card, .institution-info-card {
    border-radius: $b-radius-5-sm;
    height: 100%;
    padding: 1.5rem 1rem;

    @include tablet {
        border-radius: $b-radius-5;
    }
}

.general-info-card {
    background-color: $background-light-secondary;
    color: $dark-green;

    @include tablet {
        padding: 2rem 4rem 4rem 4rem;
    }
}

.institution-info-card {
    background-color: $background-orange;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include tablet {
        padding: 2rem;
    }

    .institution-name, .institution-contacts, .institution-transports, small {
        color: $primary;
    }

    small {
        display: block;
        word-break: break-word;

        &.email {
            word-break: break-all;
        }
    }
}

.institution-image-card {
    height: 100%;
    position: relative;

    &:after {
        content: '';
        background-color: rgba($primary, .3);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    img {
        width: 100%;
        object-fit: cover;
    }
    
    &:after, img {
        border-radius: $b-radius-5-sm;

        @include tablet {
            border-radius: $b-radius-5;
        }
    }
}