.swiper-container {
    width: 100%;
    min-height: 450px;
    padding: 1rem;

    @include tablet {
        padding: 0;
    }

    .swiper-slide {
        position: relative;

        .testimonial-background {
            @include tablet-down {
                border-radius: $b-radius-5-sm;
                background-color: rgba($secondary, .3);
                width: 100%;
                height: 90%;
            }

            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;


            svg {
                display: none;

                @include tablet {
                    display: block;
                }

                path {
                    fill: $secondary;
                }
            }
        }

        &.odd {
            .avatar-container {
                &:before {
                    background: linear-gradient(180deg, $orange 0%, #F5BF7D 100%);
                }
            }

            .testimonial-background {
                @include tablet-down {
                    background-color: rgba($orange, .3);
                }

                svg path {
                    fill: $orange;
                }
            }
        }
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            background: $light-primary;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background: $primary;
        }
    }
}


.testimonial-container {
    display: flex;
    padding: 2rem 1rem 2rem 0;

    @include tablet {
        padding: 4rem 3rem 4rem 0;
    }

    .avatar-container {
        border-bottom-left-radius: $b-radius-5;
        border-bottom-right-radius: $b-radius-5;
        margin-top: 0;
        min-width: 5rem;
        height: 8rem;
        position: relative;
        z-index: 1;

        @include tablet {
            min-width: 10rem;
            height: 14rem;
            margin-top: -3rem;
        }

        img {
            z-index: 1;
        }
    }

    .content {
        margin-left: 2rem;

        .testimonial-title {
            margin-bottom: 1rem;
            color: $dark-green;
        }

        .testimonial-text {
            margin-bottom: 2rem;
        }

        .testimonial-person {
            color: $gray-2;
        }
    }
}