.swiper-container {
    width: 100%;
    min-height: 450px;

    .swiper-slide {
        position: relative;

        .testimonial-background {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;

            svg path {
                fill: $secondary;
            }
        }
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            background: $light-primary;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            background: $primary;
        }
    }
}


.testimonial-container {
    display: flex;
    padding: 4rem 3rem 4rem 0;

    .avatar-container {
        border-bottom-left-radius: $b-radius-5;
        border-bottom-right-radius: $b-radius-5;
        margin-top: -3rem;
        width: 10rem;
        min-width: 10rem;
        height: 14rem;
        position: relative;
        z-index: 1;

        img {
            z-index: 1;
        }

        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 11rem;
            background: linear-gradient(180deg, $secondary 0%, #7FBBCA 100%);
            border-radius: $b-radius-5;
            z-index: -1;
        }
    }

    .content {
        margin-left: 2rem;

        .testimonial-title {
            margin-bottom: 1rem;
            color: $dark-green;
        }

        .testimonial-text {
            margin-bottom: 2rem;
        }

        .testimonial-person {
            color: $gray-2;
        }
    }
}

.swiper-slide.odd {
    .avatar-container {
        &:before {
            background: linear-gradient(180deg, $orange 0%, #F5BF7D 100%);
        }
    }

    .testimonial-background {
        svg path {
            fill: $orange;
        }
    }
}

