
@font-face {
  font-family: 'DIN';
  src: url(../resources/D-DINCondensed-Bold.woff) format('woff'),
    url(../resources/D-DINCondensed-Bold.woff2) format('woff2'),
    url(../resources/D-DINCondensed-Bold.otf) format('opentype');
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');