.gen-wrapper, .md-wrapper {
  width: 100%;
  padding-right: $margin-sm;
  padding-left: $margin-sm;
  max-width: $container-max-width;

  @include tablet {
    padding-right: $margin-md;
    padding-left: $margin-md;
  }

  @include resolution (1400px) { 
    margin-left: auto;
    margin-right: auto;
  }
}

.gen-wrapper {
  @include desktop {
    padding-right: $margin-lg;
    padding-left: $margin-lg;
  }
}

.height-wrapper {
  height: 100vh;
}
