.gen-wrapper {
  width: 100%;
  margin-right: $margin-sm;
  margin-left: $margin-sm;
  max-width: $container-max-width;

  @include tablet {
    margin-right: $margin-md;
    margin-left: $margin-md;
  }

  @include desktop {
    margin-right: $margin-lg;
    margin-left: $margin-lg;
  }
}
